.milk {
  padding: 0 20px;
  margin: 0;

  @media (min-width: $tablet-width) {
    padding: 0;
    margin: 0 38px 0 0;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    margin: 0 0 30px 0;
  }
}

.milk__title {
  font-family: "Montserrat", "Arial", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #333333;
  margin: 0 0 23px 0;

  @media (min-width: $tablet-width) {
    margin: 0 0 18px 0;
  }
}

.milk__radio-wrapper {
  position: relative;
  margin: 0 0 22px 0;
  padding-left: 34px;

  @media (min-width: $desktop-width) {
    margin: 0;

    &:not(:last-child) {
      margin: 0 0 20px 0;
    }
  }
}

.milk__label {
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #333333;
}

.milk__radio-label {
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #333333;
}

.milk__radio-mark {
  content: "";
  position: absolute;
  border: 2px solid #7859cf;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  left: 0;
  top: -2px;
  cursor: pointer;

  &:hover::before,
  &:focus-visible::before {
    content: "";
    position: absolute;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    left: 4px;
    top: 4px;
    background: rgba(120, 89, 207, 0.25);
    z-index: 2;
  }

  @media (min-width: $tablet-width) {
    width: 20px;
    height: 20px;

    &:hover::before,
    &:focus-visible::before {
      left: 2px;
      top: 2px;
    }
  }

  @media (min-width: $desktop-width) {
    &:hover::before,
    &:focus-visible::before {
      left: 2px;
      top: 2px;
    }
  }
}

.milk__radio-button {
  appearance: none;
  position: absolute;
  display: inline;
  z-index: -2;
}

.milk__radio-button:checked[type="radio"] + .milk__radio-mark::before {
  content: "";
  position: absolute;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  left: 4px;
  top: 4px;
  background-color: #7859cf;
  z-index: 2;

  @media (min-width: $tablet-width) {
    left: 2px;
    top: 2px;
  }
}

.milk__radio-button:disabled + .milk__radio-mark {
  border: 2px solid #e2e2e2;

  &:hover::before,
  &:focus::before {
    background-color: transparent;
  }
}

.milk__radio-button:checked[type="radio"]:disabled + .milk__radio-mark::before {
  background-color: #bdbdbd;
}
