.promo {
  padding: 0;
  display: flex;
  align-items: center;
  margin: 0 0 50px 0;

  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
    position: relative;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    align-items: center;
    margin: 0 0 10px 0;
    flex-direction: row;
  }
}

.promo__picture {
  @media (min-width: $tablet-width) {
    order: 1;
  }

  @media (min-width: $desktop-width) {
    order: 0;
    margin: 0;
    padding: 30px 0 0 0;
  }
}

.promo__image {
  @media (min-width: $tablet-width) {
    left: 0;
    right: 0;
    top: 340px;
    margin: auto;
    width: 476px;
    height: 476px;
  }

  @media (min-width: $desktop-width) {
    left: 105px;
    top: 30px;
    right: 730px;
    height: 600px;
    width: 600px;
  }
}

.promo__wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #f3ebe1;
  padding: 17px 0 0 0;

  @media (min-width: $tablet-width) {
    margin: 0 0 55px 0;
    background: linear-gradient(to bottom, #f3ebe1 77%, #ffffff 77% 100%);
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    background: #f3ebe1;
    width: 1440px;
    padding: 0 0 92px 55px;
    box-sizing: border-box;
    justify-content: center;
  }
}

.promo__wrapper--latte {
  background-color: #eae6fc;

  @media (min-width: $tablet-width) {
    background: linear-gradient(to bottom, #eae6fc 77%, #ffffff 77% 100%);
  }

  @media (min-width: $desktop-width) {
    padding: 30px 80px 84px 105px;
    background: #eae6fc;
  }
}

.promo__wrapper--espresso {
  background-color: #e5e6e8;

  @media (min-width: $tablet-width) {
    background: linear-gradient(to bottom, #e5e6e8 77%, #ffffff 77% 100%);
  }

  @media (min-width: $desktop-width) {
    padding: 30px 80px 84px 105px;
    background: #e5e6e8;
  }
}

.promo__product-wrapper {
  padding: 7px 20px 60px 20px;
  align-items: center;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    padding: 43px 80px 0 80px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 18px 31px 0;
  }
}

.promo__heading {
  font-family: "Montserrat", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  color: #7859cf;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  display: block;
  text-align: center;
  margin: 0 0 4px 0;
}

.promo__title {
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: 0.02em;
  text-align: center;
  color: #333333;
  margin: 0 0 11px 0;
  width: 280px;

  @media (min-width: $tablet-width) {
    font-size: 56px;
    line-height: 80px;
    width: 608px;
    margin: 0 0 16px 0;
  }

  @media (min-width: $desktop-width) {
    width: 625px;
    text-align: unset;
  }
}

.promo__description {
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
  text-align: center;
  margin: 0 0 20px 0;
  max-width: 280px;
  min-height: 100px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 32px;
    max-width: 608px;
  }

  @media (min-width: $desktop-width) {
    text-align: start;
    margin: 0 0 35px;
  }
}

.swiper {
  width: auto;

  @media (min-width: $tablet-width) {
    width: auto;
  }

  @media (min-width: $desktop-width) {
    width: auto;
  }
}

.promo__pagination {
  display: none;

  @media (min-width: $tablet-width) {
    display: none;
  }

  @media (min-width: $desktop-width) {
    display: block;
    position: absolute;
    bottom: 100px;
    z-index: 10;
    left: 850px;
  }
}

.promo__pagination-item {
  display: inline-block;
  height: 4px;
  width: 62px;
  background-color: #000000;
  margin-left: 8px;
  border-radius: 0;
  opacity: 1;
  border: 0;
}
